<html>
    <head>
        <!--<script src="js/lib/mqttws31.min.js" type="text/javascript"></script>-->
        <script src="js/lib/browserMqtt.js" type="text/javascript"></script>
        <script src="js/lib/vue.min.js"></script>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/lib/jquery-3.4.1.slim.min.js"></script>
        <script src="js/lib/bootstrap.bundle.min.js"></script>
        <script src="js/lib/joy.min.js"></script>
        <script src="js/lib/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="app" class="container-fluid h-100">
            <div class="row h-100">
                <!-- Side Panel -->
                <div class="col-md-4 h-100 d-flex flex-column">
                    <!--Map-->
                    <div class="row justify-content-center">
                        <svg class="w-100"  viewBox="-100 -100 3200 2200" unit="mm">
                            <template v-if="map.background != ''">
                                <image v-bind:href="map.background" x="0" y="0" height="2000" width="3000" /> 
                            </template>

                            <!--Grid pathfinding-->
                            <template v-if="grid.grid != null">
                                <g>
                                    <template v-for="node in grid.grid">
                                        <rect v-bind:x="node[0]*grid.resolution" v-bind:y="node[1]*grid.resolution" v-bind:width="grid.resolution" v-bind:height="grid.resolution" v-bind:style="{ fill: node[2]?'white':'red' }" style="stroke-width:0;stroke:rgb(0,0,0);opacity: 0.1;" />
                                    </template>
                                </g>
                            </template>

                            <!--Map components-->
                            <template v-for="item in map.components">
                                <template v-if="item.shape.type == 'rectangle'">
                                    <g v-on:click="onMapComponentClick(item)">
                                        <title>{{item.name}} - {{item.type}} - {{item.team}}</title>
                                        <rect v-bind:x="item.shape.x" v-bind:y="item.shape.y" v-bind:width="item.shape.width" v-bind:height="item.shape.height" v-bind:style="{ fill: item.shape.color }" style="stroke-width:1;stroke:rgb(0,0,0);opacity: 0.9;" />
                                    </g>
                                </template>
                                <template v-if="item.shape.type == 'circle'">
                                    <g>
                                        <title>{{item.name}} - {{item.type}} - {{item.team}}</title>
                                        <circle  v-bind:cx="item.shape.x" v-bind:cy="item.shape.y" v-bind:r="item.shape.radius" v-bind:style="{ fill: item.shape.color }" style="stroke-width:1;stroke:rgb(0,0,0);opacity: 0.9;" />
                                    </g>
                                </template>
                                <template v-if="item.shape.type == 'line'">
                                    <g>
                                        <title>{{item.name}} - {{item.type}} - {{item.team}}</title>
                                        <line  v-bind:x1="item.shape.x1" v-bind:y1="item.shape.y1" v-bind:x2="item.shape.x2" v-bind:y2="item.shape.y2" v-bind:style="{ stroke: item.shape.color }" style="stroke-width:4;opacity: 0.9;" />
                                    </g>
                                </template>
                            </template>
                            

                            <!--Map access points-->
                            <template v-for="item in map.components">
                                <template v-if="'access' in item">
                                    <g v-if="item.shape.type == 'rectangle'">
                                        <line v-bind:x1="item.access.x" v-bind:y1="item.access.y" v-bind:x2="item.shape.x+item.shape.width/2" v-bind:y2="item.shape.y+item.shape.height/2" style="stroke-width:4;stroke:green;opacity: 0.9;" />
                                    </g>
                                    <g v-if="item.shape.type == 'circle'">
                                        <line v-bind:x1="item.access.x" v-bind:y1="item.access.y" v-bind:x2="item.shape.x" v-bind:y2="item.shape.y" style="stroke-width:4;stroke:green;opacity: 0.9;" />
                                    </g>
                                    <g v-bind:transform="'translate('+item.access.x+' '+item.access.y+') rotate('+item.access.angle+')'">
                                        <title>{{item.name}} - {{item.type}} - {{item.team}}</title>
                                        <circle  v-bind:cx="0" v-bind:cy="0" r="25" style="fill: white;stroke-width:4;stroke:rgb(0,0,0);opacity: 0.9;" />
                                        <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="50" v-bind:y2="0" style="stroke-width:10;stroke:purple;opacity: 0.9;" />
                                    </g>
                                </template>
                                <template v-if="'otherAccess' in item">
                                    <template v-for="access in item.otherAccess">
                                        <g v-if="item.shape.type == 'rectangle'">
                                            <line v-bind:x1="access.x" v-bind:y1="access.y" v-bind:x2="item.shape.x+item.shape.width/2" v-bind:y2="item.shape.y+item.shape.height/2" style="stroke-width:4;stroke:green;opacity: 0.9;" />
                                        </g>
                                        <g v-if="item.shape.type == 'circle'">
                                            <line v-bind:x1="access.x" v-bind:y1="access.y" v-bind:x2="item.shape.x" v-bind:y2="item.shape.y" style="stroke-width:4;stroke:green;opacity: 0.9;" />
                                        </g>
                                        <g v-bind:transform="'translate('+access.x+' '+access.y+') rotate('+access.angle+')'">
                                            <title>{{item.name}} - {{item.type}} - {{item.team}}</title>
                                            <circle  v-bind:cx="0" v-bind:cy="0" r="25" style="fill: grey;stroke-width:4;stroke:rgb(0,0,0);opacity: 0.9;" />
                                            <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="50" v-bind:y2="0" style="stroke-width:10;stroke:purple;opacity: 0.9;" />
                                        </g>
                                    </template>
                                </template>
                                <template v-if="'endAccess' in item">
                                    <template v-for="access in item.endAccess">
                                        <g v-if="item.shape.type == 'rectangle'">
                                            <line v-bind:x1="access.x" v-bind:y1="access.y" v-bind:x2="item.shape.x+item.shape.width/2" v-bind:y2="item.shape.y+item.shape.height/2" style="stroke-width:4;stroke:green;opacity: 0.9;" />
                                        </g>
                                        <g v-if="item.shape.type == 'circle'">
                                            <line v-bind:x1="access.x" v-bind:y1="access.y" v-bind:x2="item.shape.x" v-bind:y2="item.shape.y" style="stroke-width:4;stroke:green;opacity: 0.9;" />
                                        </g>
                                        <g v-bind:transform="'translate('+access.x+' '+access.y+') rotate('+access.angle+')'">
                                            <title>{{item.name}} - {{item.type}} - {{item.team}}</title>
                                            <circle  v-bind:cx="0" v-bind:cy="0" r="10" style="fill: black;stroke-width:4;stroke:rgb(0,0,0);opacity: 0.9;" />
                                            <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="50" v-bind:y2="0" style="stroke-width:10;stroke:purple;opacity: 0.9;" />
                                        </g>
                                    </template>
                                </template>
                            </template>

                            <!--Path-->
                            <template v-if="path.path != null">
                                <g>
                                    <template v-for="node in path.path">
                                        <rect v-bind:x="node[0]*path.resolution" v-bind:y="node[1]*path.resolution" v-bind:width="path.resolution" v-bind:height="path.resolution" style="fill:green;stroke-width:1;stroke:rgb(0,0,0);opacity: 0.8;" />
                                    </template>
                                </g>
                            </template>
                            <template v-if="path.smoothPath != null">
                                <g>
                                    <template v-for="node in path.smoothPath">
                                        <rect v-bind:x="node[0]*path.resolution" v-bind:y="node[1]*path.resolution" v-bind:width="path.resolution" v-bind:height="path.resolution" style="fill:blue;stroke-width:1;stroke:rgb(0,0,0);opacity: 0.9;" />
                                    </template>
                                </g>
                            </template>

                            <!--Movement lidar cones-->
                            <template>
                                <g v-bind:transform="'translate('+robot.x+' '+robot.y+') rotate('+(robot.movementAngle-robot.slowdownAngle/2)+')'">
                                    <path v-bind:d="'M 0 0 L '+robot.slowdownDistance+' 0 A '+robot.slowdownDistance+' '+robot.slowdownDistance+', 0, 0, 1, '+(robot.slowdownDistance*Math.cos(robot.slowdownAngle*(Math.PI/180)))+' '+(robot.slowdownDistance*Math.sin(robot.slowdownAngle*(Math.PI/180)))+' Z'" style="fill:rgb(0,127,0);stroke-width:10;stroke:rgb(0,127,0);opacity: 0.2;"/>
                                </g>
                                <g v-bind:transform="'translate('+robot.x+' '+robot.y+') rotate('+(robot.movementAngle-robot.collisionAngle/2)+')'">
                                    <path v-bind:d="'M 0 0 L '+robot.collisionDistance+' 0 A '+robot.collisionDistance+' '+robot.collisionDistance+', 0, 0, 1, '+(robot.collisionDistance*Math.cos(robot.collisionAngle*(Math.PI/180)))+' '+(robot.collisionDistance*Math.sin(robot.collisionAngle*(Math.PI/180)))+' Z'" style="fill:rgb(127,0,0);stroke-width:10;stroke:rgb(127,0,0);opacity: 0.2;"/>
                                </g>
                            </template>

                            <!--Robot-->
                            <template>
                                <g v-bind:transform="'translate('+robot.x+' '+robot.y+') rotate('+robot.angle+')'">
                                    <title>{{robot.name}} x:{{robot.x}}  y:{{robot.y}} angle:{{robot.angle}}</title>
                                    <circle  v-bind:cx="0" v-bind:cy="0" v-bind:r="robot.radius" style="fill:none;stroke-width:10;stroke:rgb(224, 224, 224);opacity: 0.9;" />
                                    <line v-bind:x1="robot.radius*0.8" v-bind:y1="0" v-bind:x2="robot.radius*1.2" v-bind:y2="0" style="stroke-width:15;stroke:rgb(224, 224, 224);opacity: 0.9;" />
                                    <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="Math.sin(30*0.0174533)*robot.radius" v-bind:y2="Math.cos(30*0.0174533)*robot.radius" style="stroke-width:15;stroke:rgb(224, 224, 224);opacity: 0.9;" />
                                    <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="Math.sin(30*0.0174533)*robot.radius" v-bind:y2="-Math.cos(30*0.0174533)*robot.radius" style="stroke-width:15;stroke:rgb(224, 224, 224);opacity: 0.9;" />
                                    <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="-robot.radius" v-bind:y2="0" style="stroke-width:15;stroke:rgb(224, 224, 224);opacity: 0.9;" />
                                </g>
                            </template>

                            <!--Lidar-->
                            <template v-if="lidar.measures != null">
                                <g v-bind:transform="'translate('+robot.x+' '+robot.y+') rotate('+robot.angle+')'">
                                    <template v-for="measure in lidar.measures">
                                        <g v-bind:transform="'rotate('+measure.a+')'">
                                            <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="measure.d" v-bind:y2="0" v-bind:style="lidarStyle(measure)" />
                                        </g>
                                    </template>
                                </g>
                            </template>

                            <!--Lidar Localisation-->
                            <template>
                                <template v-for="match in lidarLocalisation.matches">
                                    <g v-bind:transform="'translate('+match.x+' '+match.y+')'">
                                        <circle  v-bind:cx="0" v-bind:cy="0" r="15" style="fill:none;stroke-width:7;stroke:green;opacity: 0.9;" />
                                    </g>
                                </template>
                                <template v-for="part in lidarLocalisation.particles">
                                    <g v-bind:transform="'translate('+part.x+' '+part.y+') rotate('+part.angle+')'">
                                        <circle  v-bind:cx="0" v-bind:cy="0" r="15" style="fill:none;stroke-width:7;stroke:grey;opacity: 0.9;" />
                                        <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="15" v-bind:y2="0" style="stroke-width:5;stroke:grey;opacity: 0.9;" />
                                    </g>
                                </template>
                                <g v-bind:transform="'translate('+lidarLocalisation.x+' '+lidarLocalisation.y+') rotate('+lidarLocalisation.angle+')'">
                                    <title> x:{{lidarLocalisation.x}}  y:{{lidarLocalisation.y}} angle:{{lidarLocalisation.angle}}</title>
                                    <circle  v-bind:cx="0" v-bind:cy="0" r="30" style="fill:none;stroke-width:15;stroke:red;opacity: 0.9;" />
                                    <line v-bind:x1="0" v-bind:y1="0" v-bind:x2="20" v-bind:y2="0" style="stroke-width:5;stroke:red;opacity: 0.9;" />
                                </g>
                            </template>
                        </svg>
                    </div>

                    <!--Control-->
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <button class="btn btn-primary mx-1" v-on:click="reloadAI()" v-bind:disabled="communication.client.connected === false">Reload AI</button>                            
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success mx-1" v-if="!intelligence.running && !intelligence.hasBeenRun" v-on:click="runMatch()" v-bind:disabled="communication.client.connected === false">Run Match</button>                            
                            <button class="btn btn-danger mx-1" v-if="intelligence.running" v-on:click="stopMatch()" v-bind:disabled="communication.client.connected === false">Stop Match</button>                            
                        </div>
                        <div v-if="intelligence.currentTime>0 || communication.client.connected === false" class="col-md-4">
                            <span v-if="intelligence.currentTime>0" class="text-primary mx-2 font-weight-bold">{{intelligence.currentTime}}s</span>
                            <span v-if="communication.client.connected === false" class="text-danger mx-2 font-weight-bold">Not connected</span>
                        </div>
                        <div v-if="intelligence.currentTime==0 && communication.client.connected === true" class="col-md-4">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="cb-simulation" v-model="appParams.simulate">
                                <label class="form-check-label" for="cb-simulation">Simulate</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="cb-collisions" v-model="appParams.disableColisions">
                                <label class="form-check-label" for="cb-collisions">Disable collisions</label>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="cb-localisation" v-model="appParams.disableLocalisation">
                                <label class="form-check-label" for="cb-localisation">Disable localisation</label>
                            </div>
                        </div>
                    </div>

                    <!--Console-->
                    <div id="logConsole" class="row justify-content-center mt-2 flex-grow-1 overflow-auto">
                        <div class="col w-100 bg-dark p-2 m-0" style="font-family: monospace;line-height: 1;">
                            <span v-for="log in logs" class="d-block text-white text-break">
                                {{log}}
                            </span>
                        </div>
                    </div>

                </div>

                <!-- Main Panel -->
                <div class="col-md-8 h-100 border-left">
                    <!-- Top Menu-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <a class="nav-link active" id="actions-tab-select" data-toggle="tab" href="#actions-tab" role="tab" aria-controls="actions" aria-selected="true">Actions</a>
                        </li>
                        <li class="nav-item" role="presentation">
                          <a class="nav-link" id="files-tab-select" data-toggle="tab" href="#files-tab" role="tab" aria-controls="filesq" aria-selected="false">Files</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!-- Actions tab content-->
                        <div class="tab-pane fade show active" id="actions-tab" role="tabpanel" aria-labelledby="actions-tab-select">
                            <div class="row p-2" style="font-size: 12px;">
                                <!--Images-->
                                <div class="card m-1" style="min-width: 18em;box-shadow: 0px 0px 10px 2px #ececec;">
                                    <div class="d-flex flex-column">
                                        <div v-for="(img, index) in images.list" style="position:relative;flex:1">
                                            <span style="position:absolute;top:0;left:0;color:white;background-color: rgba(0,0,0,0.5);">{{img.name}}</span>
                                            <img style="width:100%" v-bind:src="'data:image/jpeg;base64,'+img.data"/>
                                        </div>
                                    </div>
                                </div>
                                <!--Joystick-->
                                <div id="joyDiv" style="width:200px;height:200px;margin-bottom:20px;"></div>
                                <!--Robot-->
                                <div class="card m-1" style="min-width: 18em;box-shadow: 0px 0px 10px 2px #ececec; background-color:#d1d8e0;">
                                    <div class="card-header font-weight-bold p-1 pl-2 d-flex align-items-center justify-content-between">
                                        <span class="w-100">
                                            {{robot.name}} score:{{robot.score}}
                                            <br/>Team:{{robot.team}}
                                            <br/>x:{{robot.x}}
                                            <br/>y:{{robot.y}}
                                            <br/>angle:{{robot.angle}}
                                            <br/>speed:{{robot.speed}}
                                            <br/>angleSpeed:{{robot.angleSpeed}}
                                            <br/>movementAngle:{{robot.movementAngle}}
                                            <br/>slowdown:{{robot.slowdown}}
                                        </span>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li v-for="(variable, name, index) in robot.variables" class="list-group-item p-1 pl-2 d-flex align-items-center justify-content-between">
                                            {{name}}
                                            <span>
                                                {{variable.value}}
                                                <span v-if="variable.max!=undefined">/{{variable.max}}</span>
                                            </span>
                                            
                                        </li>
                                    </ul>
                                </div>
                                <!--Goals-->
                                <div class="card m-1" v-for="(goal, index) in goals.list" style="min-width: 18em;box-shadow: 0px 0px 10px 2px #ececec;">
                                    <div class="card-header font-weight-bold p-1 pl-2 d-flex align-items-center justify-content-between" 
                                    v-bind:class="{ 'bg-success': goal.status == 'done', 'bg-primary': goal.status == 'running', 'bg-danger': goal.status == 'failed' }">
                                        <span class="w-100">Goal {{index}} - {{goal.name}}</span>
                                        <button class="btn btn-success py-1 px-2 " style="font-size:12px" v-on:click="runGoal(goal)">Run</button>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li v-for="action in goal.actions" class="list-group-item p-1 pl-2 d-flex align-items-center justify-content-between"
                                        v-bind:class="{ 'bg-success': action.status == 'done', 'bg-primary': action.status == 'running', 'bg-danger': action.status == 'failed' }">
                                            {{action.name}}
                                            <template v-if="action.team!=undefined">[{{action.team}}]</template>
                                            <template v-if="action.parameters!=undefined && action.parameters.component!=undefined">({{action.parameters.component}})</template>
                                            <button class="btn btn-info px-2 " style="font-size:12px;padding-top:1px;padding-bottom:1px;" v-on:click="runAction(action)">Run</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--Modules-->
                            <div class="row p-2" style="font-size: 12px;">
                                <div class="card m-1" v-for="(module, moduleName, index) in modules.modules" style="min-width: 18em;box-shadow: 0px 0px 10px 2px #ececec;">
                                    <div class="card-header font-weight-bold p-1 pl-2 d-flex align-items-center justify-content-between" style="background-color: #34495e;">
                                        <span class="w-100" style="color:#ecf0f1">Module {{index}} - {{moduleName}}</span>
                                    </div>
                                    <ul class="list-group list-group-flush" style="color:#ecf0f1">
                                        <li v-for="(func, funcName, index) in module.functions" style="background-color: #487eb0; " class="list-group-item p-1 pl-2">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span>{{funcName}}</span>
                                                <button class="btn btn-info py-1 px-2 " style="font-size:12px" v-on:click="runModuleFunction(moduleName,funcName, func)">Run</button>
                                            </div>
                                            <div v-for="(param, paramName, index) in func">
                                                <span v-if="!param.legend">{{paramName}}</span>
                                                <span v-if="param.legend">{{param.legend}}</span>
                                                <template v-if="param.type=='range'">
                                                    <span>:{{param.value}}</span>
                                                    <input class="slider" v-bind:type="param.type" v-bind:min="param.min" v-bind:max="param.max" v-model:value="param.value" v-bind:step="param.step">
                                                </template>
                                                <template v-if="param.type=='number'">
                                                    <input class="form-control" v-bind:type="param.type" v-bind:min="param.min" v-bind:max="param.max" v-model:value="param.value">
                                                </template>
                                                <template v-if="param.type=='text'">
                                                    <input class="form-control" v-bind:type="param.type" v-model:value="param.value">
                                                </template>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Files tab content-->
                        <div class="tab-pane fade" id="files-tab" role="tabpanel" aria-labelledby="files-tab-select">
                            <div class="row p-2" style="font-size: 12px;">
                                <!--File List-->
                                <div class="col-md-3" style="background-color: #34495e;">
                                    <div class="d-flex flex-row justify-content-around align-items-center py-2">
                                        <button class="btn btn-primary m-0" v-on:click="loadFiles()">Load files</button>
                                        <button class="btn btn-success m-0" v-on:click="saveAllFiles()">Save files</button>
                                    </div>
                                    <ul class="list-group list-group-flush" style="color:#ecf0f1;">
                                        <li v-for="file of files.list" v-on:click="editFile(file)" class="list-group-item p-1 pl-2" style="cursor:pointer;background-color: transparent;line-break: anywhere;">
                                            <span>{{file.name}}</span>
                                        </li>
                                    </ul>
                                </div>
                                <!--File content-->
                                <div class="col-md-9">
                                    <!--Opened file list-->
                                    <ul class="nav nav-tabs" id="fileTab" role="tablist">
                                        <template v-for="file of files.list">
                                            <li v-if="file.open" class="nav-item" role="presentation">
                                              <a class="nav-link" v-bind:id="'file-tab-select-'+file.id" data-toggle="tab" v-bind:href="'#file-tab-content-'+file.id" role="tab" aria-controls="actions" aria-selected="true">{{file.name}}</a>
                                            </li>
                                        </template>
                                    </ul>
                                    <!--Selected file content-->
                                    <div class="tab-content" id="fileTabContent">
                                        <template v-for="file of files.list">
                                            <div v-if="file.open" class="tab-pane h-100" v-bind:id="'file-tab-content-'+file.id" role="tabpanel" v-bind:aria-labelledby="'file-tab-select-'+file.id">
                                                <div v-bind:id="'file-tab-editor-'+file.id" class="h-100"></div>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
            
        </div>

        <script src="js/main.js"></script>
    </body>

</html>
